/* Import Tailwind's base, components, and utilities styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color variables for foreground and background colors */
:root {
  /* Default light theme colors */
  --color-foreground: 0, 0, 0; /* Black */
  --color-background-start: 214, 219, 220; /* Light gray */
  --color-background-end: 255, 255, 255; /* White */

  /* Dark theme colors */
  @media (prefers-color-scheme: dark) {
    --color-foreground: 255, 255, 255; /* White */
    --color-background-start: 0, 0, 0; /* Black */
    --color-background-end: 0, 0, 0; /* Black */
  }
}

/* Apply color variables to body styles */
body {
  color: rgb(var(--color-foreground)); /* Use foreground color for text */
  background: linear-gradient(to bottom, transparent, rgb(var(--color-background-end))) rgb(var(--color-background-start)); /* Gradient background */
}

/* Custom utility class for balanced text wrapping */
@layer utilities {
 .text-balance {
    text-wrap: balance; /* Enable balanced text wrapping */
  }
}
